<div class="modal top fade user-info-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hồ sơ người dùng</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="avatar">

                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            Họ và tên:
                            <div class="wid100">
                                <input type="text" class="wid100" name="FullName" value="" placeholder="Họ và tên..." />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            Giới tính:
                            <div class="wid100">
                                <div class="float-left col-sm-6 col-md-6 padding0px">
                                    <input type="radio" name="Gender" value="0" id="male" checked />
                                    <label for="male">Nam</label>
                                </div>
                                <div class="float-left col-sm-6 col-md-6 padding0px">
                                    <input type="radio" name="Gender" value="1" id="female" />
                                    <label for="female">Nữ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>