<div class="page page-update height100 hidden">
    <div class=" mb0px height100">
        <div class="page-title">
            <span class="btn-back-index"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;</span>Chi tiết cấu hình kết nối
        </div>
        <div class="page-body wid100 height100 padBottom10px">
            <div class="data-box border br10px height100">
                <div class="wid100">
                    <div class="col-sm-6 col-md-6">
                        <div class="p-row mb20 data-box-title">
                            Thông tin chung
                        </div>
                        <div class="p-row mb10 col-md-6 col-sm6 padding0px">
                            Tên phân hệ
                            <input class="wid100" name="Name" placeholder="Nhập tên phân hệ" />
                        </div>
                        <div class="p-row mb10">
                            Tên phân hệ
                            <textarea class="wid100" name="Note" rows="3" placeholder="Nhập ghi chú"></textarea>
                        </div>
                        <div class="p-row mb20 data-box-title">
                            Thông tin cấu hình kết nối
                        </div>
                        <div class="row mb10">
                            <div class="col-md-6 col-sm6">
                                Tên server
                                <input class="wid100" name="ServerName" placeholder="Nhập tên server" />
                            </div>
                            <div class="col-md-6 col-sm6">
                                Tên cơ sở dữ liệu
                                <input class="wid100" name="DatabaseName" placeholder="Nhập tên CSDL" />
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-md-6 col-sm6">
                                Tên đăng nhập
                                <input class="wid100" name="UsernameDB" placeholder="Nhập tên đăng nhập" />
                            </div>
                            <div class="col-md-6 col-sm6">
                                Mật khẩu đăng nhập
                                <input type="password" class="wid100" name="PasswordDB" placeholder="Nhập mật khẩu" />
                            </div>
                        </div>
                        <div class="p-row mb10">
                            Địa chỉ service
                            <input class="wid100" name="Note" placeholder="Nhập địa chỉ service" />
                        </div>
                        <div class="row mb10">
                            <div class="col-md-6 col-sm6">
                                <label><input type="checkbox" class="ace cb" name="Enable" checked /><span class="lbl">&nbsp;Hiển thị</span></label>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">

                    </div>
                </div>
                <div class="data-box-footer brBottom5px">
                    <button class="btn btn-delete">Xóa</button>
                    <div class="float-right">
                        <button class="btn btn-close btn-back-index">Đóng</button>
                        <button class="btn btn-edit">Sửa</button>
                        <button class="btn btn-dismiss">Hủy</button>
                        <button class="btn btn-save">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
