@{
    ViewBag.Title = "Home Page";
}
<style>
    #chart {
        max-width: 650px;
        margin: 35px auto;
    }

</style>
<div id="chart">

</div>

<script src="~/AdminLTE/plugins/apexcharts-bundle/dist/apexcharts.js"></script>
<script>
    var options = {
        series: [{
            name: 'series1',
            data: [31, 40, 28, 51, 42, 109, 100]
        },],
        chart: {
            height: 350,
            type: 'area'
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            show: true,
            curve: 'smooth'
        },
        xaxis: {
            type: 'string',
            categories: ["ax", "af", "qda", "bx", "dax", "âdq", "qqf"]
        },
        markers: {
            size: 4,
            colors: undefined,
            strokeColors: '#fff',
            strokeWidth: 2,
            strokeOpacity: 0.9,
            strokeDashArray: 0,
            fillOpacity: 1,
            discrete: [],
            shape: "circle",
            radius: 2,
            offsetX: 0,
            offsetY: 0,
            onClick: undefined,
            onDblClick: undefined,
            showNullDataPoints: true,
            hover: {
                size: undefined,
                sizeOffset: 3
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script> 